/* Initialize the variables */

:root {
    --black : #161623;
}

/* End of init variables */

/* Initialize the background loader */

@keyframes backgroundLoader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@-webkit-keyframes backgroundLoader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 10;
    opacity: 1;
    -moz-animation: backgroundLoader 2s ease-in-out;
    -webkit-animation: backgroundLoader 2s ease-in-out;
    -o-animation: backgroundLoader 2s ease-in-out;
    animation: backgroundLoader 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
/* End of init Background Loader */

/* Initialize the scroll bar */

html {
    width: 100%;
    height: 100%;
  
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar {
    display: none;
}

#actionbox::-webkit-scrollbar {
    width: 16px;
}
#actionbox::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
}
#actionbox::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
}
#actionbox::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
#actionbox::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

/* End of init scroll bar */

/* Initialize the main css properties */

@media screen and (orientation: portrait) {
    #wrapper {
        flex-direction: column !important;
        margin: 5% 15% !important;
    }

    #actionbox {
        margin-bottom: 10%;
        width: 90% !important;
    }

    button {
        margin: 2vh 1vw;
    }

    footer {
        position: static !important;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 5vh;
    padding: 2.5vh 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 25%;
}

.monster {
    display: inline-block;
    vertical-align: top;
    height: 100px;
}

#monster {
    /* position: relative; */
    aspect-ratio: 150/150;
    width: 150px;
    height: 150px;
}

#actionbox {
    border: 1px solid grey;
    width: 500px;
    overflow: auto;
    text-align: left;
    padding: 6px;
}

#actionbox > p {
    margin: 0;
}

hr {
    opacity: 0;
}

#status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin: 0 20%;
    padding: 0;
}

/* Healthbar */
#health {
    width: 40%;
    appearance: none;
}

#health::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
}

#health::-webkit-progress-value {
    background-color: var(--color-health);
    border-radius: 10px;
}

/* End of init main css properties */

/* Initialize the buttons */

.buttonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20%;
}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 3vh;
  padding: 0 5vh;
  line-height: 6vh;
  text-align: center;
  text-decoration: none;
  margin: 3vh 1vw;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* End of init buttons */

/* Initialize the theme color */

/* media query prefers schema color */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black);
        color: #fff;
    }
    button {
        background-color: #2b2b38;
        color: #fff;
    }
    button:hover {
        background-color: #8e8d95;
        color: var(--black);
    }
    #health::-webkit-progress-bar {
        background-color: var(--black);
        border: 1px solid #fff;
    }
}

/* End of init theme color */

/* Initialize the footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    outline: none;
    appearance: none;
    border-style: none;
    font-size: 2.5vh;
    margin: 3vh 1vh;
}

footer a {
    color: inherit;
    text-decoration: none;
    outline: none;
    appearance: none;
    border-style: none;
}

/* End of init footer */